@import "./_reset";

$color_blue: #3a86ff;
$color_red: #ff006e;
$color_orange: #fb5607;
:root {
  font-size: 10px;

  @media (max-width: 1024px) {
    font-size: 8px;
  }

  @media (max-width: 768px) {
    font-size: 6px;
  }

  @media (max-width: 425px) {
    font-size: 5px;
  }
}

body {
  background: #363537;
  font-family: 'Open Sans', sans-serif;
  color: #f6e6e6;
}

.container {
  width: 1400px;
  margin: 20px auto;

  @media (max-width: 1440px) {
    width: 1000px;
  }

  @media (max-width: 1024px) {
    width: 750px;
  }

  @media (max-width: 768px) {
    width: 400px;
  }

  @media (max-width: 425px) {
    width: 370px;
  }

  @media (max-width: 375px) {
    width: 310px;
  }
}

.decimal, .binary {
  display: flex;
  height: 407px;

  @media (max-width: 1440px) {
    height: 300px;
  }

  @media (max-width: 1024px) {
    height: 249px;
  }

  @media (max-width: 768px) {
    height: 133px;
  }
  @media (max-width: 425px) {
    height: 125px;
  }

  @media (max-width: 375px) {
    height: 103px;
  }
}

.decimal {
  margin-bottom: 40px;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
}

.calc {

  &__container {
    width: 100%;
    padding-bottom: 10px;
  }

  &__title {
    border-bottom: 3px solid $color_blue;

    h1 {
      font-size: 4.3rem;
      margin-bottom: 5px;

      @media (max-width: 768px){
        margin-bottom: 2px;
      }
    }

    h2 {
      font-size: 2rem;
    }
  }

  &__operator {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 1024px) {
      width: 16%;
    }
    @media (max-width: 768px) {
      width: 15%;
    }

    @media (max-width: 375px) {
      width: 14%;
    }
    span {
      display: block;
      font-size: 6.7rem;
      color: $color_red;
    }
  }
}

.numbers {

  &__container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1024px) {
      width: 84%;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &:first-child {
      label:first-child, label:nth-child(2) {
        display: none;
      }

      .numbers__result:last-child {
        border: none;
      }
    }

  }

  &__label {

  }

  &__value {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    width: 103px;
    height: 103px;
    background: $color_red;
    font-size: 4.4rem;

    @media (max-width: 1440px) {
      width: 80px;
      height: 80px;
      margin-bottom: 8px;
      margin-top: 8px;
    }

    @media (max-width: 1024px) {
      width: 62px;
      height: 62px;
      margin: 6px 2px 5px 2px
    }

    @media (max-width: 768px) {

      width: 34px;
      height: 34px;
      margin: 4px 2px 5px 2px;
      font-size: 3.333rem;
    }

    @media (max-width: 425px){
      width: 31px;
      height: 31px;
    }

    @media (max-width: 375px) {
      width: 26px;
      height: 26px;
      margin: 0 2px 4px 2px;
    }
  }


  &__result {

    border-top: 3px solid $color_red;

    @media (max-width: 375px) {
      border-top: 2px solid $color_red;
      padding-top: 4px;
    }
    span {
      background: $color_blue;
    }
  }
}

.tooltip {
  display: none;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 70px;
  border-radius: 14px;
  font-size: 2rem;
  border: 3px solid $color_red;
  text-align: center;

  @media (max-width: 1024px) {
    width: 120px;
  }

  @media (max-width: 768px) {
    width: 88px;
    margin-left: 33px;
  }

  @media (max-width: 425px) {
    width: 79px;
  }

  @media (max-width: 375px) {
    width: 62px;
    height: 45px;
    margin-left: 30px;
  }
}

.active {
  display: flex;
}
.landscape{
  display: none;

  span{
    display: block;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    display: block;
  }
  @media (orientation: landscape){
    display: none;
  }
  @media (max-width: 425px){
    span{
      margin-top: -8px;
    }
  }

}
.rotate{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 135px;
    position: relative;
    i{
      display: block;
      font-size: 126px;
      transform: rotate(90deg);
    }
    i:first-child{
      background: #363537;

    }

  i:last-child{
    position: absolute;
    bottom: 38px;
    z-index: 2;
    color: $color_orange;
    font-size: 52px;
  }

  @media (max-width: 425px){
    i{
      font-size: 100px;
    }
    i:last-child{
      font-size: 42px;
      bottom: 29px;
    }
  }
}